p{
    font-size: 25;
    margin-bottom: 1rem;
    background-color: rgba(173, 116, 16, 0.9);
    font-weight: 600;
    font-variant: small-caps;
    color: ghostwhite;
    padding: 25px;
    border: 4px solid rgb(51 142 160 / 60%);
    border-radius: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 100px auto;
}