<div class="wrapper row2" xmlns:th="http://www.w3.org/1999/xhtml">
  <div th:replace="header :: myHeader"></div>
  <link rel="stylesheet" type="text/css"
        href="../static/css/about-us.css" th:href="@{/css/about-us.css}"/>
  <link rel="stylesheet" type="text/css"
        href="../static/css/framework.css" th:href="@{/css/framework.css}"/>
  <div id="container" class="clear">
    <div id="about-us" class="clear">

      <!--TODO Add photos and make actual description of the company/website -->
      <h2>Company, selling laptops</h2>
    </div>
  </div>
</div>