<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="header :: myHeader"></div>
<div class="wrapper fadeInDown">
    <link rel="stylesheet" type="text/css"
          href="../static/css/form.css" th:href="@{/css/form.css}"/>
    <div id="formContent">
        <!-- Tabs Titles -->
        <h3 th:if="${error != null}" th:text="${error}"/>
        <h2 class="active"> Add screen </h2>
        <form th:object="${screen}" th:action="@{/add-screen}" method="post">
            <input type="text" th:field="*{diagonal}" id="diagonal" class="fadeIn second" name="diagonal" placeholder="Diagonal" required>
            <input type="text" th:field="*{refreshRate}" id="refreshRate" class="fadeIn second" name="refreshRate" placeholder="Refresh Rate" required>
            <input type="text" th:field="*{responseTime}" id="responseTime" class="fadeIn second" name="responseTime" placeholder="Response Time" required>
            <input type="submit" class="fadeIn fourth" value="Add">
        </form>
        <div id="formFooter"></div>
    </div>
</div>
<script>
    document.querySelector("#diagonal").value = "";
    document.querySelector("#refreshRate").value = "";
    document.querySelector("#responseTime").value = "";
</script>
</html>