<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="header :: myHeader"></div>
<div class="wrapper fadeInDown">
    <link rel="stylesheet" type="text/css"
          href="../static/css/form.css" th:href="@{/css/form.css}"/>
    <div id="formContent">
        <!-- Tabs Titles -->
        <h3 th:if="${error != null}" th:text="${error}"/>
        <h2 class="active"> Add Client </h2>
        <form th:object="${client}" th:action="@{/add-client}" method="post">
            <input type="text" th:field="*{email}" id="email" class="fadeIn second" name="manufacturer" placeholder="Email" required>
            <input type="text" th:field="*{firstName}" id="firstName" class="fadeIn second" name="firstName" placeholder="First Name" required>
            <input type="text" th:field="*{lastName}" id="lastName" class="fadeIn second" name="lastName" placeholder="Last Name" required>
            <input type="text" th:field="*{phone}" id="phone" class="fadeIn second" name="phone" placeholder="Phone" required>
            <input type="text" th:field="*{address}" id="address" class="fadeIn second" name="address" placeholder="Address" required>
            <input type="text" th:field="*{city}" id="city" class="fadeIn second" name="city" placeholder="City" required>
            <input type="text" th:field="*{country}" id="country" class="fadeIn second" name="country" placeholder="Country" required>
            <input type="submit" class="fadeIn fourth" value="Add">
        </form>
        <div id="formFooter"></div>
    </div>
</div>
<script>
    document.querySelector("#phone").value = "";
</script>
</html>