<!-- For demo purpose -->
<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="pt-5 text-white">

        <div th:replace="header :: myHeader"></div>

        <link rel="stylesheet" type="text/css"
              href="../static/css/table.css" th:href="@{/css/table.css}"/>

        <body>
        <h3 class="error" th:if="${error != null}" th:text="${error}"/>
        <table id="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Full name</th>
                <th>E-mail</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${clients}">
                <td th:text="${client.id}"></td>
                <td th:text="${client.firstName} + ' ' + ${client.lastName}"></td>
                <td th:text="${client.email}"></td>
                <td th:text="${client.address} + ', ' + ${client.city} + ', ' + ${client.country}"></td>
                <td th:text="${client.phone}"></td>
                <td>
                    <a th:href="@{/edit/clients/{userId}(userId=${client.id})}">Edit</a>
                    <a th:href="@{/delete/clients/{userId}(userId=${client.id})}">Delete</a>
                </td>
            </tr>
            </tbody>

        </table>
        <div class="col-md-12 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
        </body>
    </div>
</div>

<script>
        $('tbody').pageMe({pagerSelector:'#myPager',showPrevNext:false,hidePageNumbers:false,perPage:15});
</script>

