<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="header :: myHeader"></div>
<div class="wrapper fadeInDown">

    <link rel="stylesheet" type="text/css"
          href="../static/css/form.css" th:href="@{/css/form.css}"/>

    <link rel="stylesheet" type="text/css"
          href="../static/css/addSale.css" th:href="@{/css/addSale.css}"/>

    <link rel="stylesheet" href="./static/css/select2.min.css"
          th:href="@{/css/select2.min.css}">

    <script src="../static/js/select2.min.js"
            th:src="@{/js/select2.min.js}"></script>
    <div id="formContent">
        <h3 class="error" th:if="${error != null}" th:text="${error}"/>
        <h2 class="active"> Edit Sale </h2>
        <form th:object="${sale}" th:action="@{/edit/sales/{saleId}(saleId=${sale.id})}" method="post">
            <label class="fadeIn third" >Laptop: </label>
            <select id="laptops" th:field="*{laptopId}" th:required="required" class="fadeIn fourth mul-selectLaptops">
                <option class="fadeIn third" type="checkbox" th:each="laptop: ${laptops}" th:text="${laptop.manufacturer} + ' ' + ${laptop.model}" th:attr="value = ${laptop.id}, data-price = ${laptop.price}"></option>
            </select>
            <br>
            <label class="fadeIn third" >Buyer: </label>
            <select id="buyers" th:field="*{buyerId}" th:required="required" class="fadeIn third mul-selectClients" >
                <option class="fadeIn third" type="checkbox" th:each="client: ${clients}" th:text="${client.email}" th:attr="value = ${client.id}"></option>
            </select>
            <a href="/add-client" class="add fadeIn third">Add Client</a>
            <br>
            <label class="fadeIn third">Quantity:  </label>
            <input type="text" th:field="*{quantity}" id="quantity" class="fadeIn second" name="quantity" placeholder="Quantity" required>
            <br>
            <label class="fadeIn third">Price for one: </label>
            <input readonly type="text" th:field="*{priceForOne}" id="price" class="fadeIn second" name="price" placeholder="Price" required> BGN
            <br>
            <label class="fadeIn third">Total cost: </label>
            <input readonly type="text" th:field="*{totalPrice}" id="totalPrice" class="fadeIn second" name="totalPrice" placeholder="Total Price" required> BGN
            <br>
            <input type="submit" class="fadeIn fourth" value="Edit">

        </form>
        <div id="formFooter">
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#laptops').select2();
});
$(document).ready(function() {
    $('#buyers').select2();
});


    $('#laptops').on('select2:select', function (e) {
        var data = Number($(e.params.data.element).data('price'));
        $("#price").val(data.toFixed(2));
        setTotalPrice();
    });

    $("#quantity").on("change paste keyup", function() {
        setTotalPrice();
    });

    function setTotalPrice(){
            $("#totalPrice").val(($('#price').val() * $('#quantity').val()).toFixed(2))
    }

</script>
</html>