<!-- For demo purpose -->
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">


    <div class="container" >
        <div class="pt-5 text-white">

            <div th:replace="header :: myHeader"></div>

            <link href="../static/css/home.css"
                  th:href="@{/css/home.css}"
                  rel="stylesheet" media="screen"/>

                <h2 class="text" sec:authorize="isFullyAuthenticated()" th:text="'Welcome ' + ${user} + '!'"/>
            <p class="text" sec:authorize="isAuthenticated()" th:if="${#strings.equals(#authentication.getPrincipal().authorities[0], 'Admin')}">
                  You are logged as admin!<br>
                  You can add products, manage registered users, products and analyze and edit the sales!<br>
                  When deleting something, make sure you want to do so, because there is no going back.
                </p>
            <p class="text" sec:authorize="isAuthenticated()" th:if="${#strings.equals(#authentication.getPrincipal().authorities[0], 'SR')}">
                You are logged as sales representative!<br>
                You can add sales, manage company's clients and your sales!<br>
                When deleting something, make sure you really want to do so, because there is no going back.
            </p>
            <p class="text" sec:authorize="!isAuthenticated()">
                Please log in or register!<br>
                Also you can check the about us page or see the contacts.
            </p>

            <div th:if="${laptops != null}" id="topLaptops">
                <h3>
                    Here are some of our top selling products:
                </h3>
                <br>

                <div id="laptops">
                    <div th:each="laptop : ${laptops}" class="laptop">
                        <p th:text="${laptop.manufacturer} + ' ' + ${laptop.model}"></p>
                        <br>
                        <img th:if="${!laptop.images.empty}" th:src="@{${laptop.images[0].url}}">
                        <p th:text="'Price: ' + ${#numbers.formatDecimal({laptop.price}, 1, 2)} + 'BGN'"></p>
                        <p th:text="'Total quantity sold: ' + ${#aggregates.sum(laptop.getSales().![quantity])}"></p>
                        <p th:text="'Total price: ' + ${#aggregates.sum(laptop.getSales().![totalPrice])} + 'BGN'"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</html>
