<!-- For demo purpose -->
<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="pt-5 text-white">

        <div th:replace="header :: myHeader"></div>

        <link rel="stylesheet" type="text/css"
              href="../static/css/table.css" th:href="@{/css/table.css}"/>

        <body>

        <table id="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Laptop</th>
                <th>Quantity</th>
                <th>Price per unit</th>
                <th>Total price</th>
                <th>Buyer</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sale : ${sales}">
                <td th:text="${sale.id}"></td>
                <td th:text="${#dates.format(sale.date, 'dd-MM-yyyy HH:mm')} + ' GMT'"></td>
                <td th:text="${sale.laptop.manufacturer} + ' ' + ${sale.laptop.model}"></td>
                <td th:text="${sale.quantity}"></td>
                <td th:text="${#numbers.formatDecimal({sale.laptop.price}, 1, 2)}"></td>
                <td th:text="${#numbers.formatDecimal({sale.totalPrice}, 1, 2)}"></td>
                <td th:text="${sale.buyer.firstName} + ' ' + ${sale.buyer.lastName}"></td>
                <td>
                    <a th:href="@{/edit/sales/{saleId}(saleId=${sale.id})}">Edit</a>
                    <a th:href="@{/delete/sales/{saleId}(saleId=${sale.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
            <div class="col-md-12 text-center">
                <ul class="pagination pagination-lg pager" id="myPager"></ul>
            </div>
        </table>

        </body>
    </div>
</div>

<script>
   $('tbody').pageMe({pagerSelector:'#myPager',showPrevNext:true,hidePageNumbers:false,perPage:15});
</script>