<!-- For demo purpose -->
<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="pt-5 text-white">

        <div th:replace="header :: myHeader"></div>

        <link rel="stylesheet" type="text/css"
              href="../static/css/table.css" th:href="@{/css/table.css}"/>

<body>
<h3 th:if="${error != null}" th:text="${error}"/>
<table id="table">
    <tr>
        <th>Id</th>
        <th>Full name</th>
        <th>E-mail</th>
        <th>Role</th>
        <th>Activated</th>
        <th>Actions</th>
    </tr>
    <tr th:each="userDto : ${users}">
        <td th:text="${userDto.id}"></td>
        <td th:text="${userDto.firstName} + ' ' + ${userDto.lastName}"></td>
        <td th:text="${userDto.email}"></td>
        <td th:text="${userDto.role}"></td>
        <td><input th:checked="${userDto.enabled}" type="checkbox" disabled="disabled"/></td>
        <td><a th:href="@{/edit/users/{userId}(userId=${userDto.id})}">Edit</a>
        <a th:href="@{/delete/users/{userId}(userId=${userDto.id})}">Delete</a>
        </td>
    </tr>


</table>

</body>
    </div>
</div>

