<div class="wrapper row2" xmlns:th="http://www.w3.org/1999/xhtml">
  <div th:replace="header :: myHeader"></div>
  <link rel="stylesheet" type="text/css"
        href="../static/css/p-format.css" th:href="@{/css/p-format.css}"/>
  <link rel="stylesheet" type="text/css"
        href="../static/css/framework.css" th:href="@{/css/framework.css}"/>
  <div id="container" class="clear">
    <div id="about-us" class="clear">

      <p>We are a company, specialized in selling laptops with all the different components.<br>
          You can find our products at www.sellerino.com or contact one of our staff members on:<br>
            +35988821341 -> Main admin, he is responsible for all the sales representatives<br>
            +35912361232 -> Call center number, you can ask any questions<br>
            Feel free to call us anytime!</p>
    </div>
  </div>
</div>