<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="header :: myHeader"></div>
<div class="wrapper fadeInDown">
    <link rel="stylesheet" type="text/css"
          href="../static/css/form.css" th:href="@{/css/form.css}"/>
    <div id="formContent">
        <!-- Tabs Titles -->
        <h3 class="error" th:if="${error != null}" th:text="${error}"/>
        <h2 class="active"> Add storage </h2>
        <form th:object="${storage}" th:action="@{/add-storage}" method="post">
            <input type="text" th:field="*{capacity}" id="capacity" class="fadeIn second" name="capacity" placeholder="Capacity" required>
            <input type="text" th:field="*{type}" id="type" class="fadeIn second" name="type" placeholder="Type" required>
            <input type="text" th:field="*{connector}" id="connector" class="fadeIn second" name="connector" placeholder="Connector" required>
            <input type="submit" class="fadeIn fourth" value="Add">
        </form>
        <div id="formFooter"></div>
    </div>
</div>
<script>
    document.querySelector("#capacity").value = "";
</script>
</html>