#formContent{
    max-width: 800px;
}
select {
      min-width: 20%;
      max-width: 20%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
}
.add {
    padding: 4px 8px;
    background-color: transparent;
    text-decoration: none;
    border: 2px solid #7e899c;
}

.add:hover{
    background-color: #bab5b5;
    font-weight: bold;
}

input[type=text] {
    max-width: 50%;
}