#table, .table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th, .table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: rgb(211 211 211 / 88%);}
#table tr:nth-child(odd){background-color: rgb(250 184 99 / 86%);}

.table tr:nth-child(even){background-color:  rgb(211 211 211 / 88%);}
.table tr:nth-child(odd){background-color: rgb(250 184 99 / 86%);}

#table tr:hover {background-color: #ddd;}

.table tr:hover {background-color: #ddd;}

#table th, .table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}

.datepicker{
    color: black;
}

li .pager{
border: 2px solid black;
    background-color: white;
    color: black;
    padding: 7px 14px;
    font-size: 16px;
    cursor: pointer;
    margin: 1px;
    }

li .pager:hover{
    background-color: aqua;
}


img{
    width:4em;
    height:3em;
}
